/* *,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
} */
/* header */
/* .header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  width: 100%;
  background-color: rgb(219, 216, 216);
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}
.header-btns {
  display: flex;
} */
/* .createBtn {
  display: flex;
  background-color: rgba(138, 43, 226, 1);
  padding: 10px;
  border-radius: 5px;
}
.createBtn:hover {
  background-color: rgba(138, 43, 226, 0.8);
}
.historyBtn {
  display: flex;
  background-color: rgba(166, 125, 204, 1);
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
} */
/* .historyBtn:hover {
  background-color: rgba(166, 125, 204, 0.8);
} */
/* board */
/* .board {
  display: flex;
  height: 100%;
  overflow: scroll;
} */
/* list */
/* .list {
  margin: 10px;
  padding: 10px;
  min-width: 250px;
}
.list-header { */
  /* display: flex;
  justify-content: space-between;
}
.cards {
  width: 100%;
}
.card {
  display: flex;
  width: 100%;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 248, 255, 1);
} */
/* .card_head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.desc {
  padding: 5px;
  border-radius: 5px;
}
.cursor {
  cursor: pointer;
}
.line {
  width: 100%;
  height: 3px;
  background-color: rgba(198, 198, 198, 1);
} */
/* .priority {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  background-color: rgba(33, 150, 243, 1);
  margin-top: 8px;
}
.moveTo select {
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgba(198, 198, 198, 1);
  border-radius: 15px;
} */
